@media only screen and (max-width: 600px) {
  .navigation-wrapper {
    width: 250px;
    left: calc(50% - 250px / 2);
  }

  .chrome-browser-bottom-container-left {
    display: none;
  }

  #header {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    column-gap: 2rem;
    align-items: flex-start;
  }

  #intro {
    border-left: unset;
  }

  #intro .paragraph {
    padding-left: 0;
  }

  #contact {
    grid-template-columns: unset;
    display: flex;
    flex-direction: column;
  }

  .pdf-inner-container {
    padding: 25px;
  }
}
